html {
  font-size: 10px;
  background-size: cover;
  background: url(https://img.freepik.com/free-photo/drum-kit-dark-background-with-stage-lighting-copy-space_169016-14183.jpg?w=1380&t=st=1685796316~exp=1685796916~hmac=f1d3419867904588a68ae6d1094b21a73082ddf5a71414ce4b253b148cfdae3f);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: center;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}
.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}
